---
import '../../styles/pages/slug.scss';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Gallery from '../../components/Gallery.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const photographers = await getCollection('photographers');
  return photographers.map(photographer => ({
    params: { slug: photographer.slug },
    props: { photographer },
  }));
}

const { photographer } = Astro.props;
const { Content } = await photographer.render();
---

<Layout title={photographer.data.name}>
  <div class="photographer-header">
    <svg viewBox="0 0 50 30">
      <defs>
        <pattern id="image-fill" patternUnits="userSpaceOnUse" width="100%" height="100%">
          <image x="5" y="2" width="40" height="25" preserveAspectRatio="xMidYMid slice"/>
        </pattern>
      </defs>
      <text>
      {photographer.data.name.split(' ').map((word,idx) => (
      <tspan  x="50%" dy={`${1-(idx*.1)}em`}>{word}</tspan>
        ))}
      </text>
    </svg>
    <div class="photographer-header__social">
      <a href={photographer.data.social.twitter} target="_blank" class="photographer-header__link">Twitter</a>
      <a href={photographer.data.social.instagram} target="_blank" class="photographer-header__link">Instagram</a>
    </div>
  </div>

  <div class="photographer-content">
    <div>
      <img src={photographer.data.image} />
    </div>
    <div>
    <Content />
    </div>
  </div>

  <h2 class="gallery-title">Galeria</h2>
  <Gallery photographer={photographer.data.name} />

  <script>
    window.addEventListener('load', () => {
      const svg = document.querySelector('.photographer-header svg');
      if (!svg) return;

      const listOfImages = document.querySelectorAll('img');
      const image = listOfImages[Math.floor(Math.random() * listOfImages.length)];

      const x = document.querySelector("defs image")
      x?.setAttribute("href",image?.getAttribute('src')||"")


      const tspans = svg.querySelectorAll('tspan');
      const svgWidth = svg["viewBox"].baseVal.width;
      
      tspans.forEach(tspan => {
        // Set a baseline font size for measurement
        tspan.style.fontSize = '10px';
        const textLength = tspan.getComputedTextLength();

        if (textLength > 0) {
          // Calculate the new font size to fit the width
          const newFontSize = (svgWidth / textLength) * 10;
          tspan.style.fontSize = `${newFontSize}px`;
        }
      });
    });
  </script>
</Layout>
