---
import '../../styles/pages/slug.scss';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Gallery from '../../components/Gallery.astro';
import { Image } from 'astro:assets';
import * as AstroFeather  from 'astro-feather';

export async function getStaticPaths() {
  const photographers = await getCollection('photographers');
  return photographers.map(photographer => ({
    params: { slug: photographer.slug },
    props: { photographer },
  }));
}

const { photographer } = Astro.props;
const { Content } = await photographer.render();
---

<Layout title={photographer.data.name}>
  <div class="photographer-header">
    <svg viewBox="0 0 50 30">
      <defs>
        <pattern id="image-fill" patternUnits="userSpaceOnUse" width="100%" height="100%">
          <image x="5" y="2" width="40" height="25" preserveAspectRatio="xMidYMid slice"/>
        </pattern>
      </defs>
      <text>
      {photographer.data.name.split(' ').map((word,idx) => (
      <tspan  x="50%" dy={`${1-(idx*.1)}em`}>{word}</tspan>
        ))}
      </text>
    </svg>
    <div class="photographer-header__social">
      {Object.entries(photographer.data.social).map(([key, value]) => {
        let link = value;
        if (key === 'email') {
          link = `mailto:${value}`;
        }
        return (
          <a href={link} title={key} target="_blank" class="photographer-header__link photographer-header__link--icon">
            {
              (() => {
                switch (key) {
                  case 'email':
                    return <AstroFeather.MailIcon />;
                  case 'instagram':
                    return <AstroFeather.InstagramIcon />;
                  case 'facebook':
                    return <AstroFeather.FacebookIcon />;
                  case 'twitter':
                    return <AstroFeather.TwitterIcon />;
                  case 'linkedin':
                    return <AstroFeather.LinkedinIcon />;
                  case 'github':
                    return <AstroFeather.GithubIcon />;
                  case 'website':
                    return <AstroFeather.YoutubeIcon />;
                  default:
                    return <AstroFeather.LinkIcon />; // Default icon
                }
              })()
            }
 </a>
 );
      })}
    </div>
  </div>

  <div class="photographer-content">
    <img alt={photographer.data.name} src={photographer.data.image} />
    <h1>{photographer.data.name}</h1>
    <Content />
    </div>
  </div>

  <h2 class="gallery-title">Galeria</h2>
  <Gallery photographer={photographer.data.name} />

  <script>
    window.addEventListener('load', () => {
      const svg: SVGSVGElement | null = document.querySelector('.photographer-header svg');
      if (!svg) return;

      const listOfImages = document.querySelectorAll('.gallery img');
      const image = listOfImages[Math.floor(Math.random() * listOfImages.length)];

      const x = document.querySelector("defs image")
      x?.setAttribute("href",image?.getAttribute('src')||"")


      const tspans = svg.querySelectorAll<SVGTSpanElement>('tspan');
      const svgWidth = svg["viewBox"].baseVal.width;
      
      tspans.forEach(tspan => {
        // Set a baseline font size for measurement
        tspan.style.fontSize = '10px';
        const textLength = tspan.getComputedTextLength();

        if (textLength > 0) {
          // Calculate the new font size to fit the width
          const newFontSize = (svgWidth / textLength) * 10;
          tspan.style.fontSize = `${newFontSize}px`;
        }
      });
    });
  </script>
</Layout>
